body {
    margin: 0;
}

#layout {
    width: 100vw;
}

#navbar {
    background: var(--sunset);
    width: 95vw;
    height: 100px;
    padding: 20px 2.5vw;

    display: flex;
    align-items: center;
    gap: 0;
    justify-content: space-between;
}

#navbar > h1 {
    padding: 15px 0 0;

    color: var(--fog);
    font-family: velourlight;
    font-size: 75px;
    letter-spacing: 7px;
    text-shadow: 3px 3px var(--tangerine);
}

#navbar > h1 > span {
    padding: 0;

    writing-mode: vertical-lr;
    font-size: 25px;
    letter-spacing: 0px;
}

#job-tabs, #profile-tabs {
    display: flex;
    gap: 10px;
}

.tab {
    margin: 20px 20px 5px;

    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

.tab:hover {
    color: var(--cherry);
    font-weight: 700;
    cursor: pointer;
}