/* ====== Signup Page ====== */
#signup-page, #preferences {
    background: url(../../images/ShapeBG.png);
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#signup {
    background: url(../../images/Signup.png);
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
    width: 900px;
    height: 743px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signup-form {
    padding: 40px 45px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-form > h1 {
    margin: 0;

    color: white;
    letter-spacing: 2px;
    font-size: 35px;
}

#signup-inputs {
    margin: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#signup-inputs > label {
    color: grey;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    gap: 3px
}

#signup-inputs > label > input {
    background: white;
    width: 250px;
    padding: 5px;
    border: none;

    color: grey;
    font-weight: 500;
    font-family: Raleway;
    letter-spacing: 1px;
}

#signup-form > button {
    background: var(--tangerine);
    margin: 20px 0 0;
    padding: 10px 20px;
    /* border: 2px solid var(--tangerine); */
    border: none;
    border-radius: 5px;

    color: var(--fog);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

#signup-form > button:hover {
    background: var(--taupe);
    /* border: 2px solid grey; */

    color: grey;
    cursor: pointer;
}

#signup > #account-msg {
    padding: 0 45px 0 0;
}

/* ====== Preferences ====== */
#preferences-form > p {
    margin: 0;

    color: darkslategray;
    text-align: center;
    font-style: italic;
}

#interests {
    margin-top: 20px;
    color: darkslategray;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#interests > legend {
    color: midnightblue;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#check-inputs {
    max-width: 350px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#check-inputs > label {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#description {
    margin-top: 20px;

    color: midnightblue;
    font-weight: 600;
    letter-spacing: 0.5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#description > textarea {
    border: 2px solid slategray;
    width: 350px;
    height: 50px;
}

#preferences-form > button {
    background: midnightblue;
    width: 200px;
    height: 35px;
    margin: 30px 0 0;
    border: none;
    border-radius: 5px;

    color: ghostwhite;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

#preferences-form > button:hover {
    background: ghostwhite;
    border: 2px solid midnightblue;
    box-shadow: 1px 1px midnightblue;

    color: midnightblue;
    font-weight: bold;
    cursor: pointer;
}