/* ====== User Profile ====== */
#profile {
    padding: 50px 0;

    display: flex;
    justify-content: center;
    gap: 20px;
}

#user-info {
    /* background: lightslategrey; */
    /* border: 3px solid midnightblue; */
    /* border-right: 5px solid midnightblue; */
    padding: 30px;
    /* border-radius: 25px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#user-info > img {
    width: 200px;
    height: 200px;
    /* border: 4px solid lightsteelblue; */
    border-radius: 110px;
    padding: 5px;
}

#user-info > h2 {
    /* background: midnightblue; */
    width: 200px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px;

    color: midnightblue;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
}

#user-interests, #about-me {
    background: lightsteelblue;
    width: 250px;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.header {
    margin: 0;

    color: midnightblue;
    /* text-decoration: underline; */
    font-weight: bold;
    letter-spacing: 1px;
}

#about-me > :nth-child(even) {
    margin: 0;

    color: darkslategray;
    text-align: center;
    letter-spacing: 1px;
}

#interests {
    max-width: 250px;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.interest {
    background: whitesmoke;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;

    /* font-weight: bold; */
    color: darkslategray;
    letter-spacing: 1px;
}

#user-info > button {
    background: midnightblue;
    margin: 15px 0 0;
    padding: 5px 10px;
    border: 2px solid midnightblue;
    border-radius: 5px;

    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

#user-info > button:hover {
    background: whitesmoke;
    border: 2px solid midnightblue;

    color: midnightblue;
    font-weight: bold;
    cursor: pointer;
}

/* ====== Reviews ====== */
#user-reviews {
    /* background: slategrey; */
    /* border: 3px solid midnightblue; */
    width: 500px;
    padding: 30px;
    /* border-radius: 25px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#user-reviews > h3 {
    color: midnightblue;
    letter-spacing: 1px;
}

#reviews {
    height: 560px;
    overflow-y: scroll;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review {
    background: slategray;
    padding: 15px 20px;
    border-radius: 20px;

    text-align: justify;
}

.review > h4, p {
    margin: 0;

    color: white;
}

.hired {
    margin-bottom: 5px;
    font-style: italic;
}