#login-page {
    background: url(../../images/ShapeBG.png);
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#login-page > img {
    object-fit: cover;
    padding: 0;
    width: 650px;
}


#login {
    background: var(--sunshine);
    width: 600px;
    padding: 50px 24px 30px;
    border-radius: 0 0 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#login-form > h1 {
    margin: 0 0 20px;

    color: var(--fog);
}


#login-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login-inputs > label {
    color: grey;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
    gap: 5px
}

#login-inputs > label > input {
    width: 250px;
    border: none;
    padding: 5px;

    color: grey;
    font-weight: 500;
    font-family: Raleway;
    letter-spacing: 1px;
}

#login-form > #error-msg {
    max-width: 300px;

    color: var(--cherry);
    font-weight: 500;
    font-size: 15px;
}

#login-form > button {
    background: var(--tangerine);
    margin: 20px 0 0;
    padding: 5px 20px;
    /* border: 2px solid var(--tangerine); */
    border: none;
    border-radius: 5px;

    color: var(--fog);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

#login-form > button:hover {
    background: var(--taupe);
    /* border: 2px solid grey; */

    color: grey;
    cursor: pointer;
}

#account-msg {
    margin: 50px 0 0;

    color: grey;
    font-weight: 500;
    letter-spacing: 1px;
}

#account-msg > span {
    text-decoration: underline;
}

#account-msg > span:hover {
    color: white;
    cursor: pointer;
}