#login-page {
    width: 50vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#login-page > #background {
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    min-height: 100vh;
    opacity: 0.4;
    z-index: -1;
}

#login {
    background: var(--fog);
    padding: 50px 75px;
    border: 3px solid var(--tide);
    box-shadow: 3px 3px var(--tide);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#login-form > h1 {
    margin: 0 0 30px;

    color: var(--cherry);
    font-size: 29px;
    letter-spacing: 5px;
    font-weight: 700;
}

#login-inputs, label {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#login-inputs > label {
    gap: 2px;

    color: var(--sunset);
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: 600;
}

#login-inputs > label > input {
    background: none;
    width: 250px;
    height: 25px;
    padding: 0 5px;
    border: none;
    border-bottom: 2px solid var(--midnight);

    color: var(--midnight);
    font-family: Raleway;
    font-size: 15px;
    letter-spacing: 1px;
}

#login-form > #error-msg {
    max-width: 200px;
    margin: 0;

    color: var(--cherry);
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
}

#login-form > button {
    background: var(--mist);
    padding: 10px 20px;
    margin: 30px 0 0;
    border: none;
    border-radius: 5px;

    color: var(--tide);
    font-family: Raleway;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 3px;
}

#login-form > button:hover {
    background: var(--midnight);

    color: var(--fog);
    font-weight: bold;
    cursor: pointer;
}

#login > p {
    margin: 30px 0 0;

    color: var(--cherry);
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

#login > p > span {
    text-decoration: underline;
}

#login > p > span:hover {
    /* color: midnightblue; */
    font-weight: bold;
    cursor: pointer;
}