#other-user {
    background: var(--peach);
    height: fit-content;
    padding: 40px 30px;
    border-radius: 10px;
    margin: 30px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    position: relative;
}

#other-user > h3 {
    margin: 0;

    color: var(--slate);
    position: absolute;
    right: 20px;
    top: 15px;
}

#other-user > h3:hover {
    color: var(--cherry);
    cursor: pointer;
}

#other-user > #personal-info {
    width: 400px;
    /* padding: 20px; */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#pi-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#pi-left > img {
    width: 140px;
}

#pi-left > h3 {
    margin: 0;

    color: var(--tangerine);
    font-size: 30px;
    letter-spacing: 4px;
}

#pi-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.about-div > h4 {
    margin: 0;

    font-size: 15px;
    font-weight: 700;
    color: var(--tangerine);
    letter-spacing: 2px;
}

.about-div > p {
    color: var(--smoke);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.about-div > #skills {
    justify-content: flex-start;
    gap: 5px;
}

.about-div > #skills > p {
    border-radius: 2px;

    font-size: 13.5px;
    padding: 3px 10px;
}

#reviews {
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews > h3 {
    margin: 20px 0 10px;
    color: var(--tangerine);
    letter-spacing: 1px;
}

#reviews > p {
    color: var(--cherry);
    font-weight: 700;
    letter-spacing: 1px;
}

#reviews-list {
    max-height: 150px;
    overflow-y: scroll;
}

#reviews-list > .review {
    background: white;
    width: 320px;
    padding: 10px;
    margin: 0 20px 0 0;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
}


#reviews-list > .review > p {
    color: var(--smoke);
    font-size: 15px;
    font-weight: 500;
}

#reviews-list > .review > #msg {
    max-width: 250px;
}

#other-user > button {
    background: var(--tangerine);
    padding: 5px 15px;
    margin: 20px 0 0;
    border: none;
    border: 2px solid var(--tangerine);
    border-radius: 5px;

    color: white;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

#other-user > button:hover {
    background: white;
    color: var(--tangerine);
    cursor: pointer;
}