/* ====== Jobs Header ====== */
#jobs-header {
    display: flex;
}

#jobs-header > a {
    padding: 0 30px;

    text-decoration: none;
    color: var(--midnight);
    font-weight: 700;
    letter-spacing: 1px;;
}

#jobs-header > a:hover {
    color: var(--cherry);

}

#jobs-header > :nth-child(even) {
    border-left: 2px solid var(--midnight);
    border-right: 2px solid var(--midnight);
}

/* ====== Posted Jobs ====== */
#posted-jobs {
    background: var(--suede);
    min-height: 85vh;
    padding: 50px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#posted-jobs > h1 {
    margin: 65px 0 0;

    color: var(--midnight);
    letter-spacing: 6px;
    font-family: Covered By Your Grace;
    font-size: 45px;
    text-shadow: 2px 2px var(--mist);
}

#posted-content {
    display: flex;
    gap: 75px;
}

#posted-content > #posted-listings {
    max-width: 60vw;
    margin: 30px 0 0;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* ====== Posted Jobs Details ====== */
#pj-details {
    background: var(--mist);
    width: 190px;
    min-height: 300px;
    padding: 20px 30px;
    border-radius: 15px;
    border: 3px solid var(--tide);
    box-shadow: 3px 3px 5px var(--tide);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#pj-details > h4 {
    background: var(--midnight);
    margin: 0 0 10px;
    padding: 10px 5px;
    border-radius: 10px;

    color: var(--shell);
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 16px;
}

#pj-details > label {
    margin: 0;
    font-size: 15px;
    color: var(--fog);
    font-weight: 700;
    font-style: normal;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

label > p,
.applicant > p,
label > #applicants > p
{
    margin: 0;
    color: var(--midnight);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}

#applicants {
    display: flex;
    gap: 8px;
}

.applicant {
    background: var(--midnight);
    padding: 3px 5px;
    border-radius: 2px;
}

.applicant > p {
    color: var(--fog);
}

.applicant > p:hover {
    color: var(--shell);
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

#pj-details > #job-buttons {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

#job-buttons > button {
    background: var(--shell);
    border: 2px solid var(--fog);
    border-radius: 5px;
    padding: 4px 10px;

    color: var(--fog);
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 1px;
}

#job-buttons > button:hover {
    background: var(--midnight);
    border: 2px solid var(--midnight);

    color: var(--cherry);
    cursor: pointer;
}

/* ====== Job Applications ====== */
#applications {
    background: var(--suede);
    min-height: 85vh;
    padding: 50px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#applications > h1 {
    margin: 65px 0 0;

    color: var(--midnight);
    letter-spacing: 6px;
    font-family: Covered By Your Grace;
    font-size: 45px;
    text-shadow: 2px 2px var(--mist);
}

#applied-jobs {
    max-width: 60vw;
    margin: 30px 0 0;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* ====== Application Details ====== */
.applied {
    background: var(--mist);
    width: 190px;
    min-height: 300px;
    padding: 20px 30px;
    border-radius: 15px;
    border: 3px solid var(--tide);
    box-shadow: 3px 3px 5px var(--tide);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.applied > h4 {
    background: var(--midnight);
    margin: 0 0 10px;
    padding: 10px 5px;
    border-radius: 10px;

    color: var(--shell);
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.applied > p {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--midnight);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}

.applied > p > span {
    margin: 4px 0;
    color: var(--fog);
    font-weight: 700;
    font-size: 16px;
}

.status {
    margin: 15px 0 0;
    padding: 10px 10px;

    font-style: normal;

}

#pending,
#selected,
#not-selected {
    margin: 15px 0 0;
    padding: 10px 20px;
    border-radius: 5px;

    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
}

#pending,
#not-selected {
    background: gray;
    color: var(--suede);
}

#selected {
    background: var(--tide);
    color: var(--fog);
}