/* ====== Jobs Header ====== */
#jobs-header {
    display: flex;
}

#jobs-header > a {
    padding: 0 30px;

    color: var(--smoke);
    text-decoration: none;
    font-family: velourlight;
    font-weight: 700;
    letter-spacing: 1px;;
}

#jobs-header > a:hover {
    color: var(--cherry);

}

#jobs-header > :nth-child(even) {
    border-left: 2px solid var(--midnight);
    /* border-right: 2px solid var(--midnight); */
}

/* ====== Posted Jobs ====== */
#posted-jobs {
    background: url(../../../images/PeopleBG.png);
    min-height: 86vh;
    padding: 50px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#posted-jobs > h2,
#applications > h2 {
    margin: 100px 0 0;
    color: var(--tangerine);
    font-size: 40px;
    letter-spacing: 5px;
}

#posted-jobs > h1 {
    margin: 50px 0 0;

    color: var(--smoke);
    font-family: velourlight;
    font-size: 35px;
    letter-spacing: 7px;
    word-spacing: 12px;
}

#posted-listings > #error-msg,
#applied-jobs > #error-msg {
    margin-top: 50px;
    color: var(--tangerine);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

#posted-listings {
    max-width: 60vw;
    margin: 50px 0 100px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#posted-content > #posted-listings {
    max-width: 60vw;
    margin: 30px 0 0;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* ====== Posted Jobs Details ====== */
#pj-details {
    box-shadow: 3px 3px 5px var(--smoke);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pj-details > h4 {
    background: var(--taupe);
    /* padding: 10px; */
    width: 250px;
    height: 50px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px 10px 0 0;

    color: white;
    text-align: center;
    letter-spacing: 1px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#pj-details > #job-content {
    width: 250px;
    min-height: 250px;
    height: fit-content;
    padding: 20px;
}

#pj-details > #job-content > #jd {
    color: var(--smoke);
    font-weight: 500;
    letter-spacing: 0.5px;
}

#pj-details > #job-content > label {
    margin: 0;

    color: var(--smoke);
    font-weight: 700;
    font-style: normal;
    text-align: center;
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#no-msg {
    margin: 0;

    color: var(--smoke);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}

#applicants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.applicant {
    background: var(--sunshine);
    padding: 3px 5px;
    border-radius: 3px;

    color: var(--smoke);
    font-weight: 500;
}

.applicant > p {
    color: var(--fog);
}

#job-content > #job-buttons {
    max-width: 200px;
    margin-top: 5px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#job-buttons > button {
    background: var(--tangerine);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;

    color: white;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 1px;
}

#job-buttons > button:hover {
    background: var(--taupe);

    color: var(--smoke);
    cursor: pointer;
}

/* ====== Job Applications ====== */
#applications {
    background: url(../../../images/PeopleBG.png);
    min-height: 86vh;
    height: fit-content;
    padding: 50px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#applications > h1 {
    margin: 50px 0 0;

    color: var(--smoke);
    font-family: velourlight;
    font-size: 35px;
    letter-spacing: 7px;
    word-spacing: 12px;
}

#applied-jobs {
    max-width: 60vw;
    margin: 30px 0 0;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* ====== Application Details ====== */
.applied {
    box-shadow: 3px 3px 5px var(--smoke);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.applied > h4 {
    background: var(--taupe);
    /* padding: 10px; */
    width: 250px;
    height: 50px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px 10px 0 0;

    color: white;
    text-align: center;
    letter-spacing: 1px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#applied-content {
    background: var(--peach);
    width: 230px;
    height: 250px;
    padding: 30px;
    border-radius: 0 0 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#applied-content > p {
    color: var(--smoke);
}

#applied-content > #jd {
    color: var(--smoke);
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

#applied-content > #poster {
    margin: 5px 0 0;
    font-style: italic;
}

#pending,
#selected,
#not-selected {
    margin: 15px 0 0;
    padding: 10px 20px;
    border-radius: 5px;

    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
}

#pending,
#not-selected {
    background: gray;
    color: var(--suede);
}

#selected {
    background: var(--tide);
    color: white;
}