#edit-profile {
    margin: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-profile > h1 {
    color: midnightblue;
    letter-spacing: 2px;;
}

#edit-profile-form {
    background: lightsteelblue;
    padding: 40px 50px;
    border-radius: 20px;
    border: 3px solid darkslategray;
    /* box-shadow: 2px 2px darkslategray; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#edit-profile-form > img {
    width: 200px;
    height: 200px;
    padding: 0 0 25px;
}

#edit-info {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
}

#edit-info > label {
    width: 200px;

    display: flex;
    flex-direction: column;
    gap: 2px;

    color: midnightblue;
    letter-spacing: 1px;
    font-weight: bold;
}

#edit-info > label > input {
    border: 2px solid midnightblue;
    padding: 5px;
    
    color: darkslategray;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

#edit-profile-form > #skills {
    margin-top: 20px;

    gap: 5px;
}

#edit-profile-form > #skills > legend {
    margin: 0;

    color: midnightblue;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

#edit-skills {
    display: flex;
    gap: 15px;
}

#edit-skills > label {
    display: flex;
    flex-direction: row;
    gap: 2px;

    color: darkslategray;
    letter-spacing: 1px;
}

#edit-profile-form > #description > textarea {
    height: 75px;
    padding: 5px;
    border: 2px solid midnightblue;

    color: darkslategray;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

#edit-profile-form > #update-btn {
    background: midnightblue;
    margin: 20px 0 0;
    padding: 10px 15px;
    border: 2px solid midnightblue;
    border-radius: 10px;

    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

#edit-profile-form > #update-btn:hover {
    background: whitesmoke;
    box-shadow: 1px 1px midnightblue;

    color: midnightblue;
    cursor: pointer;
}