#edit-profile-page {
    background: url(../../../images/PeopleBG.png);
    min-height: 86vh;
    /* padding-top: 50px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#edit-profile-page {
    color: var(--tangerine);
    letter-spacing: 3px;
}

#edit-profile {
    background: url(../../../images/Signup.png);
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
    width: 900px;
    height: 743px;
    margin: 90px 0;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit-profile-form {
    padding: 40px 60px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-profile-form > h1 {
    margin: 0 0 40px;

    color: white;
    letter-spacing: 2px;
    font-size: 35px;
}

#edit-profile-form > #inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#edit-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#edit-info > img {
    width: 150px;
    height: 150px;
    padding: 0 0 15px;
}

#edit-info > label {
    width: 200px;

    display: flex;
    flex-direction: column;
    gap: 3px;

    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
}

#edit-info > label > input {
    background: white;
    border: none;
    padding: 5px;
    
    color: var(--slate);
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

#inputs > #skills {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#skills > legend {
    /* margin: 20px 0 0; */
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
}

#edit-skills {
    margin: 3px 0 30px;
    width: 200px;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#edit-skills > label {
    display: flex;
    flex-direction: row;
    gap: 2px;

    color: var(--slate);
    letter-spacing: 1px;
}

#skills > textarea {
    width: 200px;
    height: 100px;
    padding: 5px;
    border: none;

    color: var(--slate);
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

#edit-profile-form > #update-btn {
    background: var(--tangerine);
    margin: 50px 0 0;
    padding: 10px 20px;
    /* border: 2px solid var(--tangerine); */
    border: none;
    border-radius: 5px;

    color: var(--fog);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

#edit-profile-form > #update-btn:hover {
    background: var(--taupe);
    /* border: 2px solid grey; */

    color: grey;
    cursor: pointer;
}