/* ====== Overview ====== */
#overview {
    background: url(../../../images/PeopleBG.png);
    max-width: 100vw;
    min-height: 85vh;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

#overview > h1 {
    color: var(--tangerine);
    letter-spacing: 3px;
}

#jobs-reviews {
    /* margin: 20px 0 0; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ====== User Profile ====== */
#profile {
    background: var(--peach);
    height: fit-content;
    width: 300px;
    padding: 20px;
    /* border: 3px solid var(--slate); */
    border-radius: 165px 165px 20px 20px;
    box-shadow: 5px 5px 5px var(--smoke);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#user-info > img {
    width: 200px;
    height: 200px;
    padding: 20px 0 0;
}

#user-info > #img-ph {
    background: var(--sunset);
    width: 185px;
    height: 190px;
    margin: 20px 0 0;
    padding: 10px 0 0 15px;
    border-radius: 100px;

    color: white;
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
}

#user-info > h2 {
    margin: 30px 0 0;

    color: var(--tangerine);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
}

#rating {
    margin: 0;

    color: var(--tangerine);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

#about-me, #user-skills {
    margin: 30px 0 0;

    text-align: center;
}

#about-me > #description {
    background: var(--sunshine);
    width: 250px;
    padding: 10px;
    border-radius: 10px;

    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.header {
    margin: 0 0 7px;
    color: var(--tangerine);
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
}

#skills {
    max-width: 250px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#skills > .skill {
    background: var(--sunshine);
    padding: 5px 20px;
    border-radius: 5px;

    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

#user-info > button {
    background: var(--tangerine);
    margin: 50px 0 10px;
    padding: 5px 20px;
    /* border: 2px solid var(--tangerine); */
    border: none;
    border-radius: 5px;

    color: var(--fog);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

#user-info > button:hover {
    background: var(--sunset);
    /* border: 2px solid grey; */

    color: grey;
    cursor: pointer;
}

/* ====== Jobs & Reviews Overview ====== */
#reviews-overview, #jobs-overview {
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--smoke);
}

.jr-header {
    background: var(--taupe);
    width: 30vw;
    padding: 20px 20px 15px;
    border-radius: 20px 20px 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jr-header > h1, p {
    margin: 0;

    color: white;
}

.jr-header > h1 {
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 700;
}

.jr-header > p {
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 700;
}

.jr-header > p:hover {
    color: var(--cherry);
    cursor: pointer;
}

.jr-header > #static {
    max-width: 250px;
    text-align: right;

}

.jr-header > #static:hover {
    color: white;
    cursor: auto;
}

.listing {
    background: var(--peach);
    width: 30vw;
    padding: 30px 20px;
    border-radius: 0 0 20px 20px;
    /* border: 3px solid var(--tide); */
    border-top: none;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.no-msg {
    padding: 30px 0;
    color: var(--cherry);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

#reviews {
    height: fit-content;
    max-height: 300px;
}

#review-listing {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.job-overview, .review-overview {
    background: var(--mist);
    width: 24vw;
    padding: 10px 20px;
    border-radius: 5px;

    color: var(--slate);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.job-overview > #top {
    display: flex;
    justify-content: space-between;
}

.job-overview > #top > #title {
    max-width: 300px;

    color: var(--slate);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

.job-overview > #top > #applicants {
    color: var(--slate);
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}

.job-overview > #date {
    color: var(--slate);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.review-overview > #msg {
    color: var(--slate);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

.review-overview > #posted-by {
    color: var(--slate);
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}