#review-page {
    background: url(../../images/PeopleBG.png);
    min-height: 86vh;
    width: 100vw;
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#review-page > h1 {
    margin: 75px 0 20px;

    color: var(--smoke);
    letter-spacing: 8px;
    font-size: 50px;
}

#review-page > #blurb {
    margin: 0 0 30px;

    color: var(--smoke);
    text-align: center;
}

#review {
    background: url(../../images/Review.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 532px;
    /* margin: 50px 0 0; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#review-info {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#review-info > p {
    color: var(--smoke);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

#review-info > p > span {
    padding: 0 5px 0 0;

    color: white;
    /* font-size: 15px; */
    font-weight: 500;
    letter-spacing: 1px;
}

#review-form > section {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#review-form > section > p {
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
}

#score-options {
    display: flex;
    gap: 30px;
}

.score {
    color: var(--smoke);
    font-weight: 500;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#review-form > section > textarea {
    background: white;
    width: 350px;
    height: 80px;
    padding: 10px;
    border: none;

    color: var(--midnight);
    font-family: Raleway;
    letter-spacing: 0.5px;
}

#review-form > button,
#review-page > button {
    background: var(--tangerine);
    padding: 5px 15px;
    margin: 10px 0 0;
    border: none;
    /* border: 2px solid var(--tangerine); */
    border-radius: 5px;

    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

#review-form > button:hover {
    background: white;
    color: var(--tangerine);
    cursor: pointer;
}

#review-page > button:hover {
    background: var(--sunshine);
    /* color: var(--tangerine); */
    cursor: pointer;
}