#review-page {
    background: var(--suede);
    padding: 0 0 100px;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#review-page > p {
    /* margin: 10px 0 0; */
    color: var(--sunset);
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}

#review-page > img {
    margin: 0;

    max-width: 100vw;
    width: 100vw;
    height: 500px;
    object-fit: cover;
    object-position: 50% 25%;
}

#review-page > h1 {
    margin: 40px 0 0;

    color: var(--tide);
    letter-spacing: 6px;
    font-family: Covered By Your Grace;
    font-size: 45px;
    text-shadow: 2px 2px var(--mist);
}

#review-info {
    /* margin: 20px 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#review-info > p {
    color: var(--tide);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

#review-info > p > span {
    padding: 0 5px 0 0;
    color: var(--fog);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

#review-form {
    background: var(--mist);
    margin: 30px 0 0;
    padding: 30px 50px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#review-form > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#review-form > section > p {
    color: var(--fog);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
}

#score-options {
    display: flex;
    gap: 30px;
}

.score {
    color: var(--tide);
    font-weight: 500;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#review-form > section > textarea {
    width: 280px;
    height: 80px;
    padding: 10px;

    color: var(--midnight);
    font-family: Raleway;
    letter-spacing: 0.5px;
}

#review-form > button,
#review-page > button {
    background: var(--sunset);
    padding: 5px 10px;
    margin: 10px 0 0;
    border-radius: 5px;
    border: none;
    border: 2px solid var(--sunset);

    color: var(--fog);
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 1px;
}

#review-form > button:hover,
#review-page > button:hover {
    background: var(--shell);
    box-shadow: 2px 2px var(--sunset);

    color: var(--cherry);
    cursor: pointer;
}